<form [formGroup]="loginForm" (ngSubmit)="signin()">
  <div class="docs-sign-header">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Placeholder">
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <button mat-stroked-button class="submit" color="primary" [disabled]="!loginForm.valid">Log in</button>
    <p>
      {{loginFailed}}
    </p>
  </div>
</form>